.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.gradient-text {
  background: linear-gradient(45deg, #d6a459, #57b3ff);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  transition: transform 0.2s ease;
}

.gradient-text:hover {
  transform: scale(1.1);
}

@media (max-width: 600px) {
  .gradient-text {
    font-size: 2em; /* Responsive font size */
  }
}
.dropdown {
  display: flex;
  justify-content: space-evenly;
  padding: auto;
  /* margin: auto; */
  margin-bottom: 4rem;
  margin-top: 2.5rem;
}
